.reservation-item-wrapper {
    padding: 20px 0px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    @media(min-width: 700px) {
        flex-flow: row nowrap;
    }
}

.reservation-item-first-column {
    flex: 0 0 auto;
    width: 200px;
    overflow: hidden;


    display: flex;
    flex-flow: column;

    align-items: center;

    font-weight: 700;
}

.reservation-item-status {
    font-weight: 700;
    padding: 5px;

    border-radius: 8px;
    color: #fff;
}

.reservation-item-status-pending {
    /*background-color: #ffcf02;*/
    background-color: orange;
}

.reservation-item-status-accepted {
    background-color: #689f38;
}

.reservation-item-status,
.reservation-item-times-wrapper,
.reservation-item-date,
.reservation-item-local {
    margin-bottom: 10px;
}

.reservation-item-times-wrapper {
    display: flex;
    flex-flow: row nowrap;

    font-size: small;
}

.reservation-item-local {
    text-align: center;

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 5px;
}

.reservation-item-username-wrapper {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    align-content: center;
    justify-content: center;

    font-size: small;
}
.reservation-item-username {
    text-align: center;
    font-weight: 700;
}

.reservation-item-second-column {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
    align-content: center;

    padding: 15px 0px;

    @media(min-width: 700px) {
        margin: 0 10px;
    }

    word-wrap: break-word;
}

.reservation-item-activityname, 
.reservation-item-confirmation-status {
    text-align: center;
    margin-bottom: 20px;
}

.reservation-item-activitydescription {
    text-align: center;
    word-wrap: break-word;

    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .10);
}

.reservation-item-third-column {
    flex: 0 0 auto;
    padding: 5px;
    width: fit-content;

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-content: center;
}