/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.flex-spacer {
  flex: 1 1 auto;
}

.flex-row-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-column-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-filter-form-control {
  margin: 10px;
}

.flex-space {
  flex: 1 1 auto;
}

.mat-raised-button {
  border-radius: 4px !important;
  flex: 0 1 auto;
}

/****************************************************************************/
/*
.mat-form-field {
  width: 300px;
}
*/
/****************************************************************************/

.custom-snackbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.custom-snackbar-success {
  background-color: #00529B;
  /*background-color: rgb(189, 217, 248);*/
}


.custom-snackbar-error {
  background-color: #D8000C;
  /*background-color: #FFBABA;*/
}

.custom-snackbar-msg {
  margin-left: 10px;
  margin-right: 10px;
}

.custom-snackbar-msgs-container {
  flex: 1 1 auto;
  
  display: flex;
  flex-direction: column;
}

.custom-snackbar-close {
  cursor: pointer;
}

/****************************************************************************/
  

.activity-status-panel-tooltip {
  height: 200px;
  width: 200px;
  /*position: absolute;*/
  background-color: red;
  /*visibility: visible;*/
}

/****************************************************************************/

.mat-dialog-container {
  border-radius: 15px !important;
}

.mat-dialog-content {
  padding-bottom: 20px !important;
}

.dialog-header {
  width: 100%;
  /*border-bottom: 1px solid #3f51b5; */
  margin-bottom: 10px;
}

.dialog-header-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3f51b5;
}

.mat-dialog-actions {
  flex-flow: row-reverse nowrap !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12); 
}

.mat-dialog-actions button {
  margin-left: 10px; margin-bottom: 10px;
  /*color: rgb(51, 103, 214);*/
  color: #3f51b5;
}

.dialog-item-header-label {
  color: rgb(90,90,90);
  font-weight: 700;
}


/****************************************************************************/

form mat-form-field {
  width: 100%;
}

/****************************************************************************/

pre {
  color: inherit;
  font-family: inherit;
  margin: 0px;

  width: 100%;
}

/****************************************************************************/

input[type=time]::-ms-clear { display: none; }
input[type=time]::-moz-clear { display: none; }
input[type=time]::-webkit-clear { display: none; }
input[type="time"]::-webkit-clear-button { display: none; }