/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.flex-spacer {
  flex: 1 1 auto;
}

.flex-row-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-column-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-filter-form-control {
  margin: 10px;
}

.flex-space {
  flex: 1 1 auto;
}

.mat-raised-button {
  border-radius: 4px !important;
  flex: 0 1 auto;
}

/****************************************************************************/

.mat-form-field {
  width: 300px;
}

/****************************************************************************/

.custom-snackbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.custom-snackbar-success {
  background-color: #00529B;
  /*background-color: rgb(189, 217, 248);*/
}


.custom-snackbar-error {
  background-color: #D8000C;
  /*background-color: #FFBABA;*/
}

.custom-snackbar-msg {
  margin-left: 10px;
}

.custom-snackbar-close {
  cursor: pointer;
}
  
  