
<div *ngIf="!(loading$ | async)">
  <!-- Public Admin -->
  <app-area-profile 
          [area]="area"
          *ngIf="((session.getMode() | async)==='public' || !(session.isSuperadmin() | async))">
  </app-area-profile>

  <!-- Superadmin View -->
  <mat-tab-group
          *ngIf="!((session.getMode() | async)==='public' || !(session.isSuperadmin() | async))">
    <mat-tab label="Perfil"> 
      <app-area-profile [area]="area">
      </app-area-profile>
    </mat-tab>
    <mat-tab label="Configuracion"> 
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Editar Informacion  
            </mat-panel-title>
            <!--mat-panel-description>
              
            </mat-panel-description-->
          </mat-expansion-panel-header>

          <app-area-form  [area]="area"
                          [title]="'Editar'"
                          (Submit)="EditarArea($event)">
          </app-area-form>

        </mat-expansion-panel>
      </mat-accordion>

      <br/>
      <br/>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Avanzada
            </mat-panel-title>
            <!--mat-panel-description>
              
            </mat-panel-description-->
          </mat-expansion-panel-header>

          <div>
            Eliminar
            <span class="flex-spacer"></span>
            <button mat-icon-button color="warn"
                    (click)="DeleteArea()">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
  