<h2 mat-dialog-title>Edit Local {{data.id}}</h2>
<mat-dialog-content>

    <form [formGroup]="editLocalForm" class="example-container">

        <mat-form-field>
            <mat-label>Area Id</mat-label>
            <input formControlName="area_id"
                    matInput
                    type="text"
                    placeholder="Enter the area id"
                    required>
            <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name"
                  matInput
                  type="text"
                  placeholder="Enter the area name"
                  required>
          <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>


        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea formControlName="description"
                    matInput
                    type="text"
                    required>
            </textarea>
            <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>

        <mat-form-field>
            <mat-label>Location</mat-label>
            <input formControlName="location"
                    matInput
                    type="text"
                    required>
            <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>

            <mat-slide-toggle
                color="primary"
                [checked]="data.enable_to_reserve">
              Enabled
            </mat-slide-toggle>

    </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="editLocalForm.invalid">Submit</button>
</mat-dialog-actions>
