<mat-card>
  <div  *ngIf="(this.loadingInitialData$ | async)">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div  *ngIf="!(this.loadingInitialData$ | async)"
        class="item-dashboard-body-wrapper">

    <div class="item-dashboard-header">
      <div class="item-dashboard-header-name">
        <mat-icon [inline]="'true'"
                  [style.margin-right]="'5px'">class</mat-icon>
        {{this.local.Name}}
      </div>
      <div class="item-dashboard-header-close-button">
        <button mat-icon-button
                (click)="onClose()"
                [matTooltip]="'Cerrar'">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    
    <mat-tab-group
      mat-stretch-tabs
      [selectedIndex]="this.selectedTab"
      (selectedIndexChange)="this.router.navigate(['/locals',this.localID,this.getTabName($event)])">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 8px;">info</mat-icon>
          Información
        </ng-template>
        
        <div class="item-dashboard-body-tab">
          <app-local-profile  [local]="this.local"
                              [area]="this.localArea"></app-local-profile>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 8px;">settings</mat-icon>
          Ajustes
        </ng-template>
        
        <div class="item-dashboard-body-tab">
          <app-local-form [initialData]="this.local"
                          [areas]="this.areas"
                          [buttonText]="'Actualizar'"
                          [showRestablecerButton]="true"
                          [disableAreaSelection]="true"
                          [disabledButtons]="waitingUpdateResponse"
                          (SubmitForm)="onUpdateLocal($event)"></app-local-form>
        </div>
      </mat-tab>
      
      <mat-tab *ngIf="(this.showAdminsTab() | async)">
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 8px;">group</mat-icon>
          Administradores
        </ng-template>
        
        <div class="item-dashboard-body-tab">
          <app-local-admins [local_id]="this.local.ID">
          </app-local-admins>
        </div>
      </mat-tab>
      
    </mat-tab-group>
  </div>
</mat-card>