.local-item-name {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;

    margin-bottom: 10px;
}

.local-item-areaname {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    color: rgba(0, 0, 0, 0.8);

    margin-bottom: 10px;
}

.local-item-enable {
    padding: 5px;
    color: white;
    font-weight: bold;
    
    width: fit-content;
    border-radius: 8px;
}