.reservations-info-reserve-button {
    display: flex;
    flex-flow: row wrap;

    align-items: center;

    padding: 10px;
}

.public-reservations-list {
    display: flex;
    flex-flow: column;

    padding: 0 0;
    margin-top: 15px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.public-reservations-list-empty {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.public-reservations-list-empty-info {
    align-items: center;
    /*background-color: #00529B;
    border-radius: 10px;
    color: white;*/

    color: #00529B;
    padding: 5px 10px;
}

.public-reservations-list-item {
    display: flex;
    flex-flow: row wrap;  
    align-items: center;
    justify-content: space-evenly;

    padding: 25px 20px;
}
/*
@media(max-width: 350px) {
    .public-reservations-list-item {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
    
        padding: 25px 10px;
    }
}
*/
.public-reservations-list-item:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.public-reservations-list-item-activity {
    padding: 5px;
    width: 250px;
}

.flex-space {
    width: 10px;
}

.public-reservations-list-item-time {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: 150px;
    
    padding: 5px;

    border-radius: 15px;
    background-color: gray;

    color: white;
}

.public-reservations-list-item-interval-time {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.public-reservations-list-item-begin-time,
.public-reservations-list-item-end-time,
.public-reservations-list-item-icon-time {
    margin: 0px 5px;
}

.public-reservations-list-item-status {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: 150px;

    text-align: center;
}

.public-reservations-list-item-status-pending {
    color: orange;
}
.public-reservations-list-item-status-accepted {
    color: green;
}