
<div class="reservations-list">
  <div class="reservations-list-item" *ngFor="let r of reservations">
    <div class="reservation-list-item-activity">
      {{r.ActivityName}}
    </div>
    <span class="flex-space"></span>
    
    <div class="reservations-list-item-interval-time">
      <mat-icon class="reservations-list-tiem-icon-time">access_time</mat-icon>
      <div class="reservation-list-item-begin-time">
        {{r.BeginTime.slice(11, 16)}}
      </div>
      <div class="reservation-list-item-end-time">
        {{r.EndTime.slice(11, 16)}}
      </div>
    </div>
  </div>
</div>
  

<br/>
<br/>
<br/>


<mat-table #table [dataSource]="dataSource">

  <!--ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/','admin','reservation',element.ID]"> {{element.ID}} </a>
    </mat-cell>
  </ng-container-->

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/','reservation',element.ID]"> {{element.ActivityName}} </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="local">
    <mat-header-cell *matHeaderCellDef> Local </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/','local',element.LocalID]">
        {{localNames[element.LocalID]}}
      </a>
    </mat-cell>
  </ng-container>

  <!--ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.BeginTime.slice(0, 10)}}
    </mat-cell>
  </ng-container-->
  
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Inicio - Fin </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        {{element.BeginTime.slice(0, 10)}}
        <div>
          {{element.BeginTime.slice(11, 16)}} - {{element.EndTime.slice(11, 16)}}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        {{element.Pending ? 'Pendiente' : 'Aceptada'}}
        <div *ngIf="!element.Confirmed">
          {{'(sin confirmar)'}}
          <button mat-icon-button color="primary"
                  (click)="ConfirmClick.emit(element)"
                  *ngIf="canConfirm(element)">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="operations">
    <mat-header-cell *matHeaderCellDef> Ops. </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary"
                (click)="AcceptClick.emit(element)"
                *ngIf="element.Pending">
          <mat-icon aria-label="edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                    (click)="RefuseClick.emit(element)">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></mat-row>
</mat-table>
  
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
</mat-paginator>