<form [formGroup]="filterForm" class="flex-row-container">
  <mat-form-field class="flex-filter-form-control">
    <mat-select placeholder="Seleccione un local"
                formControlName="selectLocalControl">
      <mat-option [value]="0"
        *ngIf="(session.getMode() | async) !== 'public'">
        Todos
      </mat-option>
      <mat-optgroup *ngFor="let opt of opts" [label]="opt.area">
        <mat-option *ngFor="let local of opt.locals" [value]="local.ID">
          {{local.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="flex-filter-form-control">
    <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha"
                    formControlName="selectDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</form>
  