<app-users-filter (FilterChanges)="FilterUsers($event)"></app-users-filter>


<!--div *ngIf="!(loading$ | async)"-->
  <mat-table #table [dataSource]="dataSource">

    <!--ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/','users',element.ID]"> {{element.ID}} </a>
      </mat-cell>
    </ng-container-->

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/','user',element.ID]"> {{element.Username}} </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Rol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="enable">
      <mat-header-cell *matHeaderCellDef> Habilitado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Enable ? 'Si' : 'No'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
<!--/div-->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>