<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SIGEL</span>

    </mat-toolbar>

    <mat-nav-list>
      <a *ngIf="this.session.getModeValue() === 'public'" 
         mat-list-item [routerLink]="['reserve']" [routerLinkActive]="['nav-active-link']">
        <mat-icon style="margin-right: 8px;">date_range</mat-icon>
        Reservar
      </a>
      <a  *ngIf="(((session.getMode() | async) === 'admin') && (session.isSuperadmin() | async))"
          mat-list-item [routerLink]="['users']" [routerLinkActive]="['nav-active-link']">
        <mat-icon style="margin-right: 8px;">supervisor_account</mat-icon>
        Usuarios
      </a>
      <a *ngIf="(((session.getMode() | async) === 'admin') && (session.isSuperadmin() | async))"
         mat-list-item [routerLink]="['areas']" [routerLinkActive]="['nav-active-link']">
        <mat-icon style="margin-right: 8px;">account_balance</mat-icon>
        Areas
      </a>
      <a *ngIf="(((session.getMode() | async) === 'admin') && (session.isSuperadmin() | async))"
         mat-list-item [routerLink]="['locals']" [routerLinkActive]="['nav-active-link']">
        <mat-icon style="margin-right: 8px;">class</mat-icon>
        Locales
      </a>
      <a *ngIf="this.session.getModeValue() === 'admin'" 
         mat-list-item [routerLink]="['reservations']" [routerLinkActive]="['nav-active-link']">
        <mat-icon style="margin-right: 8px;">date_range</mat-icon>
        Reservaciones
      </a>
      <a mat-list-item [routerLink]="['session']" [routerLinkActive]="['nav-active-link']"
        *ngIf="(session.haveProfile() | async)">
        <mat-icon style="margin-right: 8px;">person</mat-icon>
        Mi Cuenta
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 2000;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!drawer.opened">SIGEL</span>
      <span class="flex-spacer"></span>

      <!--a *ngIf="!(session.isOpen() | async)" style="text-decoration: none; color: white;"
                            [routerLink]="['login']">
        <span class="flex-row-container" style="align-items: center;"><mat-icon>lock_open</mat-icon>Iniciar</span>
      </a-->

      <button *ngIf="!(session.isOpen() | async)"
              mat-icon-button [matMenuTriggerFor]="unlogguedMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #unlogguedMenu="matMenu"
                xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item
                (click)="goToLogin()">
          <mat-icon>lock_open</mat-icon>
          <span>Iniciar sesión</span>
        </button>
      </mat-menu>

      <span *ngIf="(session.isOpen() | async)">
        <button mat-raised-button
                [color]="(session.getMode() | async) === 'public' ? 'primary' : 'accent'"
                *ngIf="(session.isAdmin() | async)"
                (click)="session.changeMode()"
                style="margin-right: 10px; padding: 0 5px; font-weight: 700;">
          <mat-icon style="margin-right: 5px;">build</mat-icon>Administración
        </button>


        <button [matMenuTriggerFor]="notifications" mat-icon-button>
          <mat-icon [matBadge]="(this.ntfs.notificationsUnreadCount$ | async)"
                    matBadgeColor="warn"
                    [matBadgeHidden]="(this.ntfs.notificationsUnreadCount$ | async) === 0">
                    notifications
          </mat-icon>
        </button>
        <mat-menu #notifications="matMenu" 
                  xPosition="after" yPosition="below" [overlapTrigger]="false" >
          <ng-template matMenuContent>
            <app-session-notifications-menu></app-session-notifications-menu>
          </ng-template>
        </mat-menu>

        <button [matMenuTriggerFor]="profile" mat-icon-button>
          <img src="assets/images/avatar_2x.png" alt="user" class="profile-pic">
        </button>
        <mat-menu #profile="matMenu" 
                  xPosition="after" yPosition="below" [overlapTrigger]="false">
            <!--button mat-menu-item>
                <mat-icon>settings</mat-icon> Settings </button>
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon> Profile </button>
            <button-- mat-menu-item>
                <mat-icon>notifications_off</mat-icon> Disable notifications </button-->
            <button mat-menu-item (click)="onProfile()">
                <mat-icon>account_box</mat-icon>{{session.getUsername()}} </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> Salir
            </button>
        </mat-menu>
      </span>

     </mat-toolbar>

    <!-- Add Content Here -->
    <main>
      <ng-content>

      </ng-content>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
