.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-icon {
  padding: 0 14px;
}

.activelink {
  background-color: blue;
}

mat-nav-list mat-nav-list .mat-list-item {
  padding-left: 20px;
}

.profile-pic{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}