<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sirel</span>

    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['home']">
        <mat-icon>home</mat-icon>
        Inicio
      </a>
      <a  *ngIf="(((session.getMode() | async) === 'admin') && (session.isSuperadmin() | async))"
          mat-list-item [routerLink]="['users']">
        <mat-icon>supervisor_account</mat-icon>
        Usuarios
      </a>
      <a mat-list-item [routerLink]="['areas']">
        <mat-icon>account_balance</mat-icon>
        Areas
      </a>
      <a mat-list-item [routerLink]="['locals']">
        <mat-icon>class</mat-icon>
        Locales
      </a>
      <a *ngIf="this.session.getModeValue() === 'public'" 
         mat-list-item [routerLink]="['reservations-public']">
        <mat-icon>date_range</mat-icon>Reservaciones
      </a>
      <a *ngIf="this.session.getModeValue() === 'admin'" 
         mat-list-item [routerLink]="['reservations']">
        <mat-icon>date_range</mat-icon>
        Reservaciones
      </a>
      <a mat-list-item [routerLink]="['profile']"
        *ngIf="(session.haveProfile() | async)">
        <mat-icon>person</mat-icon>
        <span>Mi Cuenta</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 2000;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!drawer.opened">Sirel</span>
      <span class="flex-spacer"></span>

      <a *ngIf="!(session.isOpen() | async)" style="text-decoration: none; color: white;"
                            [routerLink]="['login']">
        <span class="flex-row-container" style="align-items: center;"><mat-icon>lock_open</mat-icon>Iniciar</span>
      </a>
      <span *ngIf="(session.isOpen() | async)">
        <button mat-raised-button color="accent"
          *ngIf="(session.isAdmin() | async)"
          (click)="session.changeMode()"
          style="margin-right: 10px;">
          Modo {{(session.getMode() | async) === 'public' ? 'Publico' : 'Administracion'}}
        </button>
        <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/avatar_2x.png" alt="user" class="profile-pic"> </button>
        <mat-menu #profile="matMenu" class="mymegamenu">
            <!--button mat-menu-item>
                <mat-icon>settings</mat-icon> Settings </button>
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon> Profile </button>
            <button-- mat-menu-item>
                <mat-icon>notifications_off</mat-icon> Disable notifications </button-->
            <button mat-menu-item (click)="onProfile()">
                <mat-icon>account_box</mat-icon>{{session.getUsername()}} </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> Salir
            </button>
        </mat-menu>
      </span>

     </mat-toolbar>

    <!-- Add Content Here -->
    <main>
      <ng-content>

      </ng-content>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
