<h2 mat-dialog-title>{{title}} Local</h2>
<mat-dialog-content>

  <form [formGroup]="newLocalForm" class="example-container">
    <mat-form-field>
        <mat-select placeholder="Area"
                    formControlName="localArea" required>
          <mat-option *ngFor="let area of areas" [value]="area.ID">
              {{area.Name}}
          </mat-option>
        </mat-select>
    </mat-form-field> <br/>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input formControlName="localName"
              matInput
              type="text"
              required>
    </mat-form-field> <br/>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="newLocalForm.invalid">Enviar</button>
</mat-dialog-actions>

