  <div>
    <mat-form-field>
      <input matInput (keyup)="FilterByName($event.target.value)" placeholder="Buscar en nombre">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource"
    matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/','area',element.ID]"> {{element.ID}} </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <a [routerLink]="['/','area',element.ID]"> {{element.Name}} </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>