<h2 mat-dialog-title>{{title}} Area</h2>
<mat-dialog-content>

    <form [formGroup]="areaForm" class="example-container">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input formControlName="name"
                  matInput
                  type="text"
                  required>
          <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>


        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea formControlName="description"
                    matInput
                    type="text"
                    required>
            </textarea>
            <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>

        <mat-form-field>
            <mat-label>Direccion</mat-label>
            <input formControlName="location"
                    matInput
                    type="text"
                    required>
            <!--<mat-error *ngIf="username.invalid">You must enter a value</mat-error>-->
        </mat-form-field> <br/>

            <mat-slide-toggle
                color="primary"
                [checked]="data.area.enable_to_reserve">
              Disponible
            </mat-slide-toggle>

    </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="this.areaForm.invalid">Enviar</button>
</mat-dialog-actions>
