<form [formGroup]="filterForm" class="example-container">
  <mat-form-field>
    <mat-select placeholder="Seleccione un local"
                formControlName="selectLocalControl">
      <mat-optgroup *ngFor="let opt of opts" [label]="opt.area">
        <mat-option *ngFor="let local of opt.locals" [value]="local.ID">
          {{local.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <br/>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha"
                    [matDatepickerFilter]="myDateFilter"
                    formControlName="selectDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</form>




