<div *ngIf="loading$ | async">
  <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</div>
<mat-tab-group>
  <mat-tab label="Perfil">
    <app-user-profile [profile]="profile"></app-user-profile>
  </mat-tab>
  <mat-tab label="Editar">
    <form [formGroup]="profileForm" class="example-container">
      <mat-form-field>
        <input matInput
               placeholder="Correo"
               formControlName="email">
      </mat-form-field>
      
      <br/>
      <br/>

      <mat-form-field>
        <mat-select placeholder="Enviar notificaciones a su correo"
                    formControlName="send">
          <mat-option [value]="true">
            Si
          </mat-option>
          <mat-option [value]="false">
            No
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br/>
      <br/>

      <button mat-raised-button
        color="primary"
        (click)="EditProfile()"
        [disabled]="profileForm.invalid">Actualizar</button>
    </form>
  </mat-tab>
</mat-tab-group>

<br/><br/>
<mat-accordion *ngIf="!(loading$ | async)">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notificaciones
      </mat-panel-title>
      <!--mat-panel-description>
      </mat-panel-description-->
    </mat-expansion-panel-header>

    <app-user-notifications-table
      [profile]="true"
      [userID]="profile.ID">
    </app-user-notifications-table>

  </mat-expansion-panel>
</mat-accordion>