<!--div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div-->

<div>
  <!--div>
    <b>Id: </b>{{local.ID}}
  </div-->
  <div>
    <b>Area: </b> <br/> {{localArea.Name}}
  </div>
  <br/>
  <div>
    <b>Nombre: </b> <br/> {{local.Name}}
  </div>
  <br/>
  <div style="width: 400px;">
    <b>Descripcion: </b> <br/>
    {{local.Description}}
  </div>
  <br/>
  <div>
    <b>Direccion: </b> <br/> {{local.Location}}
  </div>
  <br/>
  <div>
    <b>Disponible: </b> {{local.EnableToReserve ? 'Si' : 'No'}}
  </div>
  <br/>
  <div>
    <b mat-header>Meses Laborables:</b> <br/>
    <div style="width: 400px" class="flex-row-container">
    <span *ngFor="let wm of working_months" style="margin: 0px 5px;">
      <span *ngIf="wm.working" style="margin: 0px;">
          {{wm.monthName}}
      </span>
    </span>
  </div>
  <br/>
  <div>
    <b>Dias de la semana Laborables</b> <br/> <br/>
    <div *ngFor="let wd of working_week_days">
      <div *ngIf="wd.working">
        {{wd.weekDayName}}
        <h5 style="display: inline;"
             *ngIf="wd.needConfirmation">
          (Confirmar un dia antes)
        </h5>
      </div>
    </div>
  </div>
  <br/>
  <div style="display: inline;">
    <h4>Horario Laborable en el Dia: </h4>
    <div>
      {{local.WorkingBeginTimeHours}}:{{local.WorkingBeginTimeMinutes}} - 
      {{local.WorkingEndTimeHours}}:{{local.WorkingEndTimeMinutes}}
    </div>
  </div>
  <br/>
  <br/>
</div>