<app-locals-table>
</app-locals-table>

<br/>
<br/>

<mat-accordion 
  *ngIf="!((session.getMode() | async)==='public' || !(session.isSuperadmin() | async))">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>add</mat-icon>Crear Local
      </mat-panel-title>
      <!--mat-panel-description>
        
      </mat-panel-description-->
    </mat-expansion-panel-header>

    <app-local-info-form
        (Submit)="CreateLocal($event)">
    </app-local-info-form>
    
  </mat-expansion-panel>
</mat-accordion>