<div class="dialog-header">
  <h3 class="dialog-header-text">Nuevo Local</h3>
</div>

<mat-dialog-content>
  <app-local-form [initialData]="this.initialData"
                  [areas]="this.areas"
                  [showButtons]="false"></app-local-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
          (click)="this.onAccept()"
          color="primary"
          [disabled]="!this.canAccept()">Aceptar</button>
  <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
</mat-dialog-actions>
