<!--div *ngIf="!(loading$ | async)"-->
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{element.CreationTime.slice(0, 10)}} {{ ' - '}}
          {{element.CreationTime.slice(11, 16)}}
        </div>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> Mensaje </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Message}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
<!--/div-->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>