<form [formGroup]="filterForm" class="example-container">

  <mat-form-field>
    <mat-select placeholder="Area"
                formControlName="selectAreaControl">
      <mat-option [value]="0">
        Todas
      </mat-option>
      <mat-option *ngFor="let area of areas" [value]="area.ID">
        {{area.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>  <br/>  <br/>

  <mat-form-field>
    <mat-label>Buscar en nombre</mat-label>
    <input formControlName="search"
            matInput
            type="text">
  </mat-form-field> <br/> <br/>

  <mat-form-field *ngIf="showEToR">
    <mat-select placeholder="Habilitado"
                formControlName="enableToReserve">
      <mat-option [value]="0">
          Todas
      </mat-option>
      <mat-option [value]="1">
        Si
      </mat-option>
      <mat-option [value]="2">
        No
      </mat-option>
    </mat-select>
  </mat-form-field>

<form [formGroup]="filterForm" class="example-container">