.login-wrapper {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  @media(min-height: 560px) {
    height: 500px;
  }
}

.login-form-wrapper {
  min-width: 300px;
}

.example-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.mat-icon {
  cursor: pointer;
}
