<h3 style="margin-top: 10px;margin-bottom: 10px;">Nueva Area</h3>
<mat-dialog-content>
    
    <form [formGroup]="areaForm">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input formControlName="name"
                  matInput
                  type="text"
                  required
                  maxlength="100">
        </mat-form-field> <br/>
      
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea formControlName="description"
                    matInput
                    type="text"
                    required
                    maxlength="500">
            </textarea>
        </mat-form-field> <br/>
      
        <mat-form-field>
            <mat-label>Direccion</mat-label>
            <input formControlName="location"
                    matInput
                    type="text"
                    required
                    maxlength="500">
        </mat-form-field> <br/>
    </form>
  
</mat-dialog-content>
<mat-dialog-actions
  style="flex-flow: row-reverse wrap; margin-top: 20px;">
  <button mat-raised-button
          color="primary"
          style="margin-left: 10px; margin-bottom: 10px;"
          (click)="onSubmit()"
          [disabled]="!validForm()">Aceptar</button>

  <button mat-raised-button [mat-dialog-close]="false"
          style="margin-left: 10px; margin-bottom: 10px;">Cancelar</button>
</mat-dialog-actions>
